node_modules
dist
.env
.env.*
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache
.next
coverage
/.turbo
/.vercel
/.netlify
/.output
build
*.local
*.sublime-workspace
*.sublime-project
*.swp
*.tmp
*.cache
*.vscode
